
<div style="background: #1a5ca3; padding: 20px;" class="mb-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 text-white">
                <div class="pt-4 pb-4">
                    <h1 style="font-size: 2.5rem;">ePizza Hub's Online Ordering</h1>
                    <p class="pb-2" style="font-size: 1.2rem;">
                        Yummy pizza delivered fast at your doorstep!
                    </p>
                    <p>
                        <a href="#pizzaSection" class="btn btn-success" onclick="scrollToPizzaSection()">ORDER ONLINE NOW</a>
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <img src="~/images/pizza-header.png" class="img-fluid" alt="Delicious Pizza Image" />
            </div>
        </div>
    </div>
</div>
